## -*- coding: utf-8 -*-
<%inherit file="navbar.tmpl"/>
<%block name="core">
<div class="alert alert-warning alert-dismissible" role="alert">
  <strong>404 Page not found,</strong> URL not available
</div>
</%block>
