<%inherit file="navbar.tmpl"/>
<%block name="core">
    <div class="row clearfix top-buffer bottom-buffer">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-12 column">
            <div class="well well-sm">
              <form method='POST' action='/adduser' role="form" class="form-signin" data-toggle="validator">
              <h2 class="h3">Fill new user attributes:</h2>
              ${form}
              <h2 class="h3">Enable/Disable roles:</h2>
              ${roles}
              <div class="form-group">
                <div class="input-group">
                  <button class="btn btn-default green" type="submit">
                  <span class="glyphicon glyphicon-plus-sign"> Add User</button>
                </div>
              </div>
              </form>
            </div>
        </div>
        <div class="col-md-2 column">
        </div>
    </div>
</%block>
