## -*- coding: utf-8 -*-
<%inherit file="navbar.tmpl"/>
    <%block name="core">
    <div class="row clearfix top-buffer bottom-buffer">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-12 column">
            <div class="well well-sm">
              <form method='POST' action='/adduser' role="form" class="form-signin" id=form>
              <fieldset>
              <legend>Fill new user's attributes:</legend>
              ${form}
              </fieldset>
              <fieldset>
              <legend>Enable/Disable user's roles:</legend>
              ${roles}
              </fieldset>
              <div class="form-group">
                <div class="input-group">
                  <button class="btn btn-default green" type="submit">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add User</button>
                </div>
              </div>
              </form>
              <script type="text/javascript" src="/static/js/ppolicy.js"></script>
            </div>
        </div>
        <div class="col-md-2 column">
        </div>
    </div>
</%block>
