## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="core">
    <div class="row clearfix" style="margin-top:30px">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column well">
        <div class="alert alert-dismissable alert-danger">
            <h4>Your request was denied for security reasons.</h4>
            <p>This may happen from time to time if you don't actively use the tab or if you clear cookies.</p>
            <p>Try to refresh the page and contact an administrator if the problem persists.</p>
        </div>
        <a class="btn btn-default blue" href='/'><span class="glyphicon glyphicon-home"></span> Return</a>
        </div>
        <div class="col-md-4 column"></div>
    </div>
</%block>
