## -*- coding: utf-8 -*-
<%inherit file="navbar.tmpl"/>
<%block name="core">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-dismissable alert-${alert}">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    ${message}
                </h4>
            </div>
            <a class="btn btn-default blue" href='/'><span class="glyphicon glyphicon-home"></span> Return</a>
        </div>
   </div>
</%block>

