## -*- coding: utf-8 -*-
#<%inherit file="base.tmpl"/>
<%block name="navbar">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="/"><img src="/static/img/icon.png" alt="LdapCherry" height="22" width="22"></a>
                <a class="navbar-brand" href="/selfmodify">Self Modify</a>
                % if is_admin:
                <a class="navbar-brand" href="/adduser">Add User</a>
                <a class="navbar-brand" href="/searchadmin">Delete/Modify User</a>
                % endif
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <a class="navbar-brand navbar-right" href='/logout'><span class="glyphicon glyphicon-off"></span> Logout</a>
		            <form method='GET' action='/searchuser' class="navbar-form navbar-right" role="search" data-toggle="validator">
                        <div class="form-group">
                            <input type="text" class="form-control" data-minlength="3" name="searchstring" placeholder="Search User" data-error="Too short" required>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </nav>
		</div>
	</div>
</%block>
