## -*- coding: utf-8 -*-
<%inherit file="navbar.tmpl"/>
<%block name="core">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form method='get' action='/searchuser' role="form" class="form-inline" data-toggle="validator">
                <div class="form-group">
                     <label for="searchstring">Search user</label>
                     <input type="text" id="searchstring" data-minlength="3" data-error="Too short" class="form-control" name="searchstring" placeholder="Search User">
                </div>
                <div class="form-group">
                    <label for="submit">Submit</label>
                    <button type="submit" id="submit" class="form-control btn btn-default green">
                    <span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </form>
        </div>
    </div>
    % if not searchresult is None:
    <div class="row clearfix top-buffer bottom-buffer">
        <div class="col-md-12 column">
            <div class="well well-sm">
                    <table id="RecordTable" class="table table-hover table-condensed tablesorter">
                        <thead>
                            <tr>
                            %for attr in sorted(attrs_list.keys(), key=lambda attr: attrs_list[attr]['weight']):
                                <th>
                                    ${attrs_list[attr]['display_name']}
                                </th>
                            % endfor
                            </tr>
                        </thead>
                        <tbody>
                            %for user in searchresult:
                            <tr>
                            %for attr in sorted(attrs_list.keys(), key=lambda attr: attrs_list[attr]['weight']):
                                <td>
                                    % if attr in searchresult[user]:
                                        <% 
                                        value = searchresult[user][attr] 
                                        if type(value) is list:
                                            value = ', '.join(value)
                                        %>
                                        ${value}
                                    % endif
                                </td>
                            % endfor
                            </tr>
                            % endfor
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    %endif
</%block>
