## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="core">
    <div class="row clearfix" style="margin-top:30px">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column well">
        <div class="alert alert-dismissable alert-danger">
            <h4>
                Service Unavailable
            </h4>
        </div>
        <a class="btn btn-default blue" href='/signin'><span class="glyphicon glyphicon-home"></span> Return</a>
        </div>
        <div class="col-md-4 column"></div>
    </div>
</%block>
